a {
    text-decoration: None;
    color: #000;
}

.top-nav {
	float:right;
	margin-right: 25px;
}

.top-nav li{
	list-style: none;
	display: inline-block;
	text-align: right;
	padding: 5px 10px 0 0;
	vertical-align: bottom;
	margin: 5px 5px 0 0;
	font-size: 13px;
}
 .search-box {
     width: 100%;
     margin-top: 100px;
     position: absolute;
 }

 .search-box img {
     display: block;
     padding-top: 100px;
     margin: 0 auto;
 }

.search-box input {
     width: 500px;
     height: 30px;
     display: block;
     margin: auto;
}

.buttons {
     text-align: center;     
}

.buttons button {
    margin: 20px 5px;
    line-height: 30px;
    
}

.footer {
	bottom: 0 !important;
	position: absolute;
	width:100%;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}

.left-footer{
    float: left;
    margin: 0;
}

.left-footer li {
    display: inline-block;
    list-style: none;
    padding-left: 5px;
}

.right-footer {
    float: right;
    margin: 0

}

.right-footer li {
    display: inline-block;
    list-style: none;
    padding-left: 5px;
}



